<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura,json</Format>
          <ExcludeByFile>**/Migrations/*.cs,**/AiModel/*.cs,**/AiModels/*.cs</ExcludeByFile>
          <ExcludeByAttribute>CompilerGeneratedAttribute,System.Diagnostics.CodeAnalysis.ExcludeFromCodeCoverageAttribute</ExcludeByAttribute>
          <Exclude>[Winnow.Server.Migrations.*]*,[Winnow.Server.Program]*,[*]Winnow.Server.*Dto*</Exclude>
          <IncludeTestAssembly>false</IncludeTestAssembly>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>